body {
	margin: 0; 
	padding: 20px 20px 20px ; 
	background-color: aliceblue;
	color: #505050; 
	font-family: arial, helvetica, sans-serif ;
	font-size: 12pt ;
		}

td { padding-left: 30px; }

a{ text-decoration: none; color: royalblue;}

#menu_salles { 
    position: fixed; 
    left: 0; 
    top: 0; 
    padding: 5px 20px; 
    width: 70%; 
    background-color: palegoldenrod;
    z-index: 1;
}

#loaddiv { margin-top: 100px; }

#liste_salles{margin-top: 10px;}

#bouton-couleurs {
    display: inline;
    font-family: courier;
    font-size: 95%;
    border: 1px solid;
    background-color: Lightblue;
    position: relative;
    bottom: 1px;
}

#couleurs {
    display: none;
    opacity: 0;
    z-index: 2;
}

#bouton-couleurs:hover {
    visibility: hidden;
}

#bouton-couleurs:hover #couleurs {
    visibility: visible;
    display: inline-block;
    opacity: 1;
    background-color: White;
    border: 1px solid;
    margin: 0;
    padding: 0;
}

.lien_salle {margin-left: 25px; padding-top: 5px; display: inline-block;}

.salle { 
    padding-bottom: 3px; 
    padding-top: 8px; 
    }

a.anchor {
    display: block;
    position: relative;
    top: -100px;            /* décalage de l'ancre sous le menu */
    visibility: hidden;
}

.right {
    position: absolute;
    right: 0;
    font-size: 75%;
}

.toggler_style {
    cursor: pointer;
    font-family: courier;
    font-size : 60%;
    position: relative;
    bottom: 2px;
}

.toggler_general {
    cursor: pointer;
    font-family: courier;
    font-size : 90%;
    float: right;
    position: relative;
    bottom: -1px;
}

/*
.deroule { 
}
*/

.enroule {
    display: none;
}

.jours { border:1px solid dimGrey; background-color: white; }
.j10 { background-color: #f3e575; }
.j20 { background-color: #e17b17; }
.j30 { background-color: #d5382c; }

.proc { background-color: LightSteelBlue;}
.p_user { background-color: PowderBlue;}
.proc:hover, .p_user:hover { background-color: Gold; }

.footer {
    margin-top: 30px;
    font-size: 75%;
    text-align: center;
}

.header {
    font-size: 300%;
    font-weight: bolder;
    text-align: center;
}

.login {
    text-align: center;
    margin-bottom: 10px;
}

.bouton_valide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.odd {
    background-color: LavenderBlush;

}

.even {
    background-color: Lavender;
}

.odd:hover, .even:hover {
    background-color: Gold;
}

.criteres {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.materiel_ligne1 {
    background-color: LavenderBlush;
}

.materiel_ligne2 {
    background-color: Lavender;
}

.trombi img {
    display: none;
    width: 200px;
    height: 200px;
}

.trombi:hover {
    text-align: center;
}

.trombi:hover img{
    display: block;
}

.connexion:hover {
    background-color: khaki;
}