body {
	margin: 0; 
	padding: 20px 20px 20px ; 
	background-color: transparent;
	color: #505050; 
	font-family: arial, helvetica, sans-serif ;
	font-size: 12pt ;
		}

td { padding-left: 30px; }

a{ text-decoration: none; color: cadetBlue;}

#menu_salles { position: fixed; left: 0; top: 0; padding: 5px 20px; width: 70%; background-color: beige;}

#loaddiv { margin-top: 100px; }

#liste_salles{margin-top: 10px;}

.lien_salle {margin-left: 25px; padding-top: 5px; display: inline-block;}

.salle { 
    padding-bottom: 3px; 
    padding-top: 20px; 
    }

a.anchor {
    display: block;
    position: relative;
    top: -100px;            /* décalage de l'ancre sous le menu */
    visibility: hidden;
}

.right {
    position: absolute;
    right: 0;
    font-size: 75%;
}

.toggler {
    cursor: pointer;
}

.deroule {
}

.enroule {
    display: none;
}

.jours { border:1px solid dimGrey; background-color: white; }
.j10 { background-color: #f3e575; }
.j20 { background-color: #e17b17; }
.j30 { background-color: #d5382c; }

.proc { background-color: LightSteelBlue;}
.p_user { background-color: PowderBlue;}
