<?php
// Version
$version = "1.7";
// URL administration de Winlog
$winlog_url = "https://winlog.iut-rodez.fr/admin/";
// URL serveur Winlog : URL sur laquelle les requêtes des PC clients arrivent
$server_url = "https://winlog.iut.rdz/";
// Code partagé entre client et serveur
$server_code = "salt";           // ne pas mettre les caractères "&" ou "=", ni la chaîne "##serverwinlog##"
// mode d'authentification : "CAS", "simple", "LDAP"
$auth_mode = "CAS";

// Paramètres LDAP pour Active Directory
$ldap_host = "ldap_hostname_or_ip";
$ldap_port = 389;
$ldap_rdn = "CN=ldapview,CN=Users,DC=iut,DC=local";
$ldap_passwd ="password";
$base_salles = "OU=Salles,DC=iut,DC=local";
$base_salles_personnel = "OU=Salles Admin,DC=iut,DC=local";
$filtre_salles = "ObjectClass=computer";
$attr_salles = array("cn", "operatingSystem", "operatingSystemServicePack", "operatingSystemVersion");

    // ces variables ne servent qu'à rendre plus lisible le tableau $ldap_personnes requis
$base_enseignants = "OU=Enseignants,DC=iut,DC=local";
$base_etudiants = "OU=Etudiants,DC=iut,DC=local";
$filtre_enseignants = "ObjectClass=user";
$attr_enseignants = array("sAMAccountname", "givenName", "sn");
$filtre_etudiants = "ObjectClass=user";
$attr_etudiants = array("cn", "givenName", "sn");

    // tableaux de configuration requis : $ldap_personnes et $ldap_machines, utilisés par recup_salles.php
$lib_personnel = "Enseignant";          // libellé par défaut
$ldap_personnes = array(
    array("base" => $base_enseignants, "filtre" => $filtre_enseignants, "attr" => $attr_enseignants, "type" => $lib_personnel),
    array("base" => $base_etudiants,   "filtre" => $filtre_etudiants,   "attr" => $attr_etudiants,   "type" => NULL)
);

$ldap_machines = array(
    array("base" => $base_salles, "filtre" => $filtre_salles, "attr" => $attr_salles),
    array("base" => $base_salles_personnel, "filtre" => $filtre_salles, "attr" => $attr_salles)
);

// Liste des OU (dn) à ne pas récupérer dans les tableaux précédents
$OU_machines_exclusion = array( "TEST" );
$OU_personnes_exclusion = array( "TEST" );

// Paramètres MySQL
$db_server = "p:localhost";         // "p:host" pour des connexions persistantes
$db_dbname ="winlog";
$db_user = "db_user";
$db_passwd = "db_password";

// Délai de rafraichissement en secondes
$delay = 6;

// Seuils de couleur, durée en jours sans connexion
$j10 = 10;      // jaune :  au moins 10 jours sans connexion
$j20 = 20;      // orange : au moins 20 jours sans connexion
$j30 = 30;      // rouge : plus de 30 jours sans connexion

// Salle à ne pas afficher
$salles_invisibles = array("STOCK","TEST", "SOUK"); // liste des salles à ne pas afficher

// Utilisateurs autorisés : les superviseurs peuvent tout voir, les administrateurs peuvent modifier
$administrateurs = array("admin1", "admin2", "adminN");
$superviseurs = array("user1", "user2", "userN");

// Noms des rôles. Seuls les libellés sont modifiables ici, pas les index du tableau.
$roles = array();
$roles[0] = "Utilisateur";              // libellé utilisateur sans droit
$roles[1] = $lib_personnel;             // libellé utilisateur avec droit minimal
$roles[2] = "Superviseur";              // libellé Superviseur : accès global en lecture
$roles[3] = "Administrateur";           // libellé Administrateur : accès global

// Niveau des rôles
$niveaux = array();
$niveaux[$roles[3]] = 3;                // niveau Administrateur
$niveaux[$roles[2]] = 2;                // niveau Superviseur
$niveaux[$roles[1]] = 1;                // niveau utilisateur autorisé
$niveaux[$roles[0]] = 0;                // niveau utilisateur sans droit

// Comportement par défaut des listes de connexions : enroulé/déroulé
// défaut : $deroule = true;
$deroule = false;

// Messages
// ma_salle_live.php : non connecté depuis une salle
$msg_salle_live_non_autorise = "Vous n'&ecirc;tes actuellement pas authentifi&eacute; comme enseignant dans une salle informatique de l'IUT.<br/>";

// Codes couleurs blacklist
// key : dest (ou target) de squidguard
// value : [r,g,b] color (https://web.njit.edu/~kevin/rgb.txt.html)
$blacklist_colors = array(
    "adult" => [255, 192, 203],         // Pink
    "haine" => [165, 42, 42],           // Brown
    "telechargement" => [255, 165, 0],  // Orange
    "jeu" => [112, 219, 147],           // Aquamarine
    "tricheur" => [255, 215, 0],        // Gold
    "proxies" => [30, 144, 255],        // DodgerBlue
    "warez" => [143, 188, 143]          // DarkSeaGreen
    );

$blacklist_default_color = [255, 140, 0];  // DarkOrange

// Blocage Web des salles :
$url_bloque = "http://cache.iut-rodez.fr/salles/bloque_salle.php";
$url_debloque = "http://cache.iut-rodez.fr/salles/debloque_salle.php";
$url_salles_bloquees = "http://cache.iut-rodez.fr/salles/salles_bloquees.php";

// Serveur Windows pour liste des tâches
$url_taches = "http://10.5.0.15:81/task.php";
$url_stop = "http://10.5.0.15:81/stop.php";

// Répertoire des plans de salles
$repertoire_salles = "./salles/";

// Répertoire des templates de scripts VBS
$repertoire_scripts = "./vbs/";

// WIFI
// adresse IP du serveur émettant la requête de log Wifi
// $portal_message_ip est l'adresse du serveur présentant le message d'accueil du portail captif d'authentification Wifi
// $radius_server_ip est l'adresse du serveur radius utilisé par Eduroam
// Mettre une chaîne vide si le serveur concerné est absent
$portal_message_ip = "192.168.100.64";
$radius_server_ip = "192.168.100.67";

// RPC : lancement d'une commande à distance sur un PC
// URL du serveur web traitant les requêtes RPC
$rpc_url = "http://10.5.0.15:81/rpc.php";

// Wake On LAN : url du script d'allumage des PC à distance
$wake_url = "http://10.5.0.15:81/wake.php";

// Trombinoscope : url du répertoire contenant les fichiers images des utilisateurs
// Laisser une chaîne vide si pas de trombinoscope disponible : 
// $trombino_url = "";
$trombino_url = "http://lamp.iut.rdz/trombi/photos/2019/";
// image par défaut si pas de photo de l'utilisateur
$trombino_defaut_url = "http://lamp.iut.rdz/trombi/vr_tn_IUT_Rodez.jpg";
// extension fichier image : le fichier image est de la forme username.extension
$trombino_extension_fichier = ".jpg";

// Ping : s'appuie sur la commande système fping
// NOTE : tous les chemins doivent être absolus ! l'utilisateur apache www-data ne connait pas forcément l'environnement.

// Le démon de ping doit-il être activé. Mettre à false pour désactiver.
$mode_ping = true;
// fichier de configuration bash du démon de ping
$winlog_ping_conf = "/var/www/html/admin/ping/winlog_ping.conf";
// fichier de la liste d'adresses IP à pinger (fichierIN), doit être accessible en lecture/écriture
$fichier_liste_ip = "/var/www/html/admin/ping/liste_ip.txt"; 
// ficher de la liste des adresses ayant répondu au ping (fichierOUT), doit être accessible en lecture/écriture
$fichier_liste_ping = "/var/www/html/admin/ping/liste_ping.txt";
// timeout si pas de réponse au ping en milliseconde
$ping_timeout = 100;
// fichier bash de lancement du démon, doit être éxecutable (ne pas modifier)
$winlog_start_ping = "/var/www/html/admin/ping/winlog_start_ping.sh";
// fichier bash d'arrêt du démon, doit être éxecutable (ne pas modifier)
$winlog_stop_ping = "/var/www/html/admin/ping/winlog_stop_ping.sh";
// fichier bash du démon pinger,  doit être éxecutable (ne pas modifier)
$winlog_ping = "/var/www/html/admin/ping/winlog_ping.sh";
// fichier de log
$winlog_ping_error = "/var/www/html/admin/ping/ping_error.log";
// mode debug : mettre à true pour voir les erreurs dans ŵinlog_ping_error.log
$winlog_ping_debug = false;
// chemin vers php : où se trouve le moteur php sur le système
$php_path = "/usr/bin/php5";
// chemin vers le script winlog de collecte des résultats du ping
$winlog_get_ping = "/var/www/html/admin/get_ping.php";
// seuil de temps en secondes avant changement de couleur du statut "pinguée" d'une machine 
$seuil_couleur_ping = 120;
?>
